<header class="topbar closed">
    <div class="top">
        <div class="logo">
            <a href="/"><img src="{{ $.Site.BaseURL }}images/logo-white.png"></a>
        </div>
        <div class="button-container" style="width: 74px; text-align: center">
            <button class="button-menu">Menu</button>
        </div>
    </div>
    <nav class="menu">
        <a target="_blank" rel="noopener noreferrer" href="https://forms.gle/sWJHKN1ut9FwkKPw5">Vendor Apps</a>

        <a href="{{ $.Site.BaseURL }}bit-rate" style="font-weight: bold;">Stream</a>
        <a href="{{ $.Site.BaseURL }}ponytown" style="font-weight: bold;">PonyTown!</a>

        <a href="{{ $.Site.BaseURL }}vendors">Vendors</a>
<!--        <a href="{{ $.Site.BaseURL }}guests">Guests</a>-->
        <a href="{{ $.Site.BaseURL }}schedule">Schedule</a>
        <a href="{{ $.Site.BaseURL }}charity">Charity Shirt</a>
        <a href="{{ $.Site.BaseURL }}bluey">What is Bluey?</a>
        <a href="{{ $.Site.BaseURL }}faqs">FAQ'S?</a>
        <a href="{{ $.Site.BaseURL }}mascots">Mascots!</a>
        <a href="{{ $.Site.BaseURL }}about">About PFO</a>
        <a href="{{ $.Site.BaseURL }}discord" class="discord-icon" style="margin-top: 10px;"></a>
    </nav>
</header>
